
body {
  padding-bottom: 0rem;
  padding-right: 0rem;
  margin-left: 0rem;
  width: 100%;
  color: #5a5a5a;
  background-color: #F6F7F8;
}
.row {
  margin-left:0px;
  margin-right: 0px;
}
.object-fit_contain { 
  object-fit: cover; 
}

.shadow {
    box-shadow: 0 0 2rem rgba(0,0,0,1);
    background-color: #fff;
}

.carousel {
  margin-bottom: 4rem;
  margin-top: 4rem;
  margin-right:rem;
  margin-left:rem;

}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-inner {
 border-radius: 10px;
 border: 1px solid #F6F7F8;
 box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.carousel-item {
  height: 26rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 30rem;
}

.logo {
  margin-top: 4rem;
}

.logo span {
  font-size: 5.6rem; 
  font-weight: bold; 
  color: #2B2E3B;
  margin-left: 4.5rem;
}

.logo p {
  font-size: 2rem;
  line-height: 1.1;
    color: #333333;
    padding-top: 0.3rem;
    margin-left: 4.5rem;
}

.carousel-indicators li {
  background-color: #0164ff;
}
h1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #333333;
  margin-left: 2rem;

}

.btn-primary {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  background-color: #0164FF;
}

.related_border {
  margin
  width: 100%; 
  border: solid 2px #CCCCCC; 
  border-radius: 10px; 
  padding: 10px;
  }

.very_small_round { 
  width: 30px; 
  height: 30px; 
  border-radius: 15px; 
  background: #0164FF;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

  .very_small_line { 
  height: 70px; 
  width: 4px; 
  background: #0164FF; 
  margin-left: 12px; 
}

.very_small_round_2 { 
  width: 30px; 
  height: 30px; 
  border-radius: 15px; 
  background: #D6E6FF; 
}

.very_small_line_2 { 
  height: 70px; 
  width: 4px; 
  background: #D6E6FF; 
  margin-left: 12px; 
}



.team span {
font-weight: bold;
font-size: 2rem;
width: 100%; 
text-align: center;


}
.team h3 {
  font-weight: bold;
  width: 100%; 
  text-align: center;

}
.team .col-lg-2 {
  margin-bottom: 1rem;
}
.sub {
  width: 100%; 
  background: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 0rem 1rem 1rem 1rem;
}
.sub h1 {
  font-size: 32px; 
  font-weight: bold;
}

footer a span {
  font-weight: bold;
   font-size: 22px;
}
a {
  color: #0164FF;
  font-size:1.5rem;
}

label {
  font-size: 2rem;
}
.btn_ {
  margin-top: 39px; 
  border-radius: 50px; 
  height: 100px; 
  width: 100px; 
  border: solid 4px #0164FF; 
  color: #0164FF; 
  font-size: 35px; 
  background-color: #D6E6FF;
}
.foot {
  background: #fff;
  font-size: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  color: black;
  box-shadow: 0 0 0.2rem rgba(0,0,0,5);

}


.bord {
  border-right: 2px solid #0164FF
}


@media (max-width: 980px) {
  html {
    font-size: 2rem;
  }
.row {
  padding-left: 1rem;
  padding-right: 1rem;

}
.bord {
  border-right: none;
}
.contaner-fluid {
  font-size: 2rem;
}
.sub h1 {
  font-size:2rem;
}
.btn_ {
   height: 160px;
   width: 160px;
   border-radius: 50%;
   margin-left:10rem;
}
.very_small_line_2 { 
  height: 8rem; 
  }
  .very_small_line { 
  height: 8rem;
  } 
}


